

body {
    background-color:#a7a7a7;
    color: #18182F;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__list {
    display: flex;
    list-style: none;
 
}

.nav__title {
    font-family: 'Koulen', cursive;

    font-size: 32px;
    
}

.car__title {
    font-family: 'Koulen', cursive;;
    text-align: center;
    margin-top: 60px;
    font-size: 50px;
}

.nav__list-item {
    font-family: 'Koulen', cursive;
    display: flex;
    list-style: none;
    margin-right: 50px;
    font-size: 15px;
}


.nav__button {
    font-family: 'Koulen', cursive;
    font-size: 15px;
    margin-right: 100px;
    background-color: transparent;
}

.car {
    
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: -110px; */
}



.car__image{
    
    margin-top: -200px;
    
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img{
   
    border-radius: 3px;
    border: 4px solid #18182F;
    width: 300px;
    
    transition: transform .1s;
  }
  
  img:hover{
      
      cursor: pointer;
      -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }

  #blur {
    font-size: 40px;
    color: transparent;
    text-shadow: 0 0 8px #000;
  }